.story {
  border-top: 1px solid #ccc;
  margin-bottom: 15px;
  padding-top: 15px;
}

.story:first-of-type {
  border-top: 0;
}

.story:last-of-type {
  margin-bottom: 0;
}

.story__title {
  margin-bottom: 10px;
  font-size: 18px;
  margin: 0;
  color: #222;
}

.story__title:hover {
  text-decoration: none;
}

.story__meta {
  font-style: italic;
  font-size: 15px;
  margin: 10px 0 0;
}

.story__meta-label {
  font-weight: bold;
  color: #111;
}
