.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__header {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar__links li {
  padding: 0 10px;
}